
body {
    color: #625757;
    background-color:#f4f3f3;
}
hr {
    background-color: white;
    border-style: none;
    height: 4px;

}
.image1
 {

 width:600px;
 float: left;
 }
 .description {
display: inline;
 }

 .image2
 {
     width: 200px;
 }
 
 .image3
 {
     width: 200px;
 }

 .image4
 {
     width: 200px;
 }
 .image5 
 {
     width: 200px;
 }
 .image6
 {
     width: 900px;
     float: left;
 }
.image7
{
    width:500px;
}
 .indrgt
 {
     background-color: lightgray;
     
 }
 
}
.btmctr
{
    margin-left: 366.5px;
    margin-right: 366.5px;
    background-color: lightslategray;
}
.posmov
{
    right:100px;   
}